.litTitle {
    color: #2F5A91;
    text-align: center;
    font-family: Khand;
    font-size: 300%;
}

.pdfContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 10%;
}

.pdfPage:hover {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 500px;
}