@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.infoText {
    text-align: center;
    color: #008ae6;
    font-family: Lato;
}

.background {
    width: auto; 
    height: auto;
    display: block;  
    margin-left: auto;
    margin-right: auto;
}
