@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap');

.containerBody {
    width: 100%;
    justify-content: center;
}
  
.containerBody h1 {
    font-family: Khand;
    color: #2F5A91;
    margin-top: 100%;
    font-weight: 300;
    text-align: center;
    font-weight: bold;
    background: white;
    padding: 5%;
}

.containerBody h1:hover {
    color: #767070;
}

.rowBody {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}
  
.columnBody {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
}

.columnBody:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
  
.technicalBody, .planningBody, .organisationalBody {
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100%;
    margin: 0.5em;
}

@media screen and (max-width: 800px) {
    .columnBody {
      flex: 1
    }
    .rowBody {
        width: 100%;
        flex-direction: column;
    }
    .technicalBody, .planningBody, .organisationalBody {
        height: 25vh;
        padding: 0;
    }
    .containerBody h1 {
        margin-top: 20%;
        padding: 0;
    }
}