@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap');

.images h1 {
    font-family: Khand;
    color: #2F5A91;
    margin-top: 80%;
    font-weight: 300;
    text-align: center;
    font-weight: bold;
    background: white;
    padding: 5%;
}

.images:hover {
    position:relative;
    top:-15px;
    left:-25px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

.images h1:hover {
    color: #767070;
}