@import url('https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap');

.header {
    text-align: center;
    background: white;
    max-height: 100%;
}

.title {
    margin: 0;
    line-height: 1em;
    font-family: Khand, sans-serif;
    font-size: 500%;
    letter-spacing: 0.04em;
    background: linear-gradient(to right, #2F5A91 31%, #767070 31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navBox {
    flex-direction: row;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header img {
        display: none;
        
    }
    .navBox {
        flex-direction: column-reverse;
    }
    .title {
        font-size: 350%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header img {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header img {
        display: none;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header img {
        display: inline;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header img {
        display: inline;
    }
}
